*

!bun.lock
!package.json

!cloud-v2/
!cloud-v2/**
cloud-v2/**/node_modules
cloud-v2/**/.wrangler

!miniapps/
!miniapps/*/
!miniapps/*/package.json
!miniapps/merge/
!miniapps/merge/**

!sdk/
sdk/*
!sdk/miniapp-cli/
!sdk/miniapp-cli/**

!mobile/
mobile/*
!mobile/modules/
mobile/modules/*
!mobile/modules/miniapp/
!mobile/modules/miniapp/package.json
